In [14]:
import pandas as pd 

in_path = './../../../'
dataset = pd.read_csv(
    in_path+'splunk_data_180918_telenor_processed.txt',  
    encoding="ISO-8859-1", 
    dtype={
        "user_id": int, 
        "visit_id": int, 
        "sequence": int, 
        "start_time":object, 
        "event_duration":float,
        "url":str, 
        "action":str, 
        "country":str,
        "user_client":str,
        "user_client_family":str,
        "user_experience":str,
        "user_os":str,
        "apdex_user_experience":str,
        "bounce_rate":float,
        "session_duration":float
    }
)

# take last 20 000 items
# was 200
t = dataset.tail(1000000)
#t = dataset 

t.columns = t.columns.str.replace('min_bedrift_event.','')
t = t[~t.action.isnull()]

# drop NaN actions or urls
t = t.dropna(axis='rows', how='any',subset=['url', 'action'])
t = t.reset_index()

In [15]:
first = t.head(1)
first

,index,Unnamed: 0,visit_id,sequence,start_time,event_duration,url,action,country,user_client,...,apdex_user_experience,bounce_rate,session_duration,site,duration,exec_time,failed,partition_date,user,action_cleaned
0,2605250,2663330,28554470,120,2018-08-06 09:59:11:800,0.6,https://www.telenor.no/bedrift/minbedrift/beta/#/,"scroll on ""580010084576 HemmeligHemmelig HAFS...",Norway,IE 11.0,...,satisfied,NaN,541.531982,NaN,549.0,549.0,0.0,2018-08-06,22785,account_reference

In [16]:
last = t.tail(1)
last

,index,Unnamed: 0,visit_id,sequence,start_time,event_duration,url,action,country,user_client,...,apdex_user_experience,bounce_rate,session_duration,site,duration,exec_time,failed,partition_date,user,action_cleaned
999999,3605249,3873288,30480809,12,2018-09-17 11:14:33:252,3.529,https://www.telenor.no/bedrift/minbedrift/beta...,"click on ""Neste""",Sweden - Stockholms Lan,IE 11.0,...,satisfied,NaN,-113.214,NaN,505.0,505.0,NaN,2018-09-17,11222,click_next_in_subscr_order